/* Reset some default styles */
/* Reset some default styles */
body,
h1,
p {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

.container {
    position: relative;
    z-index: 1;
}

.bg-image {
    /* Your background image styles */
    background-image: url('background.jpg');

    /* Add the blur effect */
    filter: blur(5px);
    /* -webkit-filter: blur(10px); */

    /* Full height */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;

    /* z-index: 0; */
}


/* Set the background image */
body {
    /* Check the file path */
    /* Cover the entire viewport with the background image */
    font-family: 'Raleway Dots', sans-serif;
    /* Add other CSS rules */
}



/* Style the header */
header {
    text-align: center;
    background-color: #009688;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

header h1 {
    color: #fff;
    font-size: 36px;
}


/* Style the question */
.question {
    background-color: rgba(0, 0, 0, 0.8);
    /* Add a semi-transparent background for readability */
    border: 2px solid #009688;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    color: #fff;
    margin: 20px;
    /* Add margin for spacing */
}

.question h2 {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 10px;
}

.question-text {
    font-size: 400%;
    /* Increase the font size for the question text */
    font-weight: bold;
    /* Make the font bold */
    text-transform: uppercase;
    /* Convert text to uppercase for a runic appearance */
}



/* Style the answers grid */
.answers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 4em;
    /* Add margin for spacing */
}

/* Style the answer buttons */
.answer {
    text-align: center;
}


.btn {
    background-color: rgba(0, 0, 0, 0.532);
    /* background-color: #009688; */
    border: 2px solid #009688;
    border-radius: 10px;

    color: #fff;
    font-size: 32px;
    /* font-weight: bold; */
    /* Make the font bold */
    width: 100%;
    /* Set a constant width to fill the grid cell */
    height: 7em;
    /* Set a constant height to fill the grid cell */
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0038328c;
}